*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/*header*/
.contenedor{
    display: flex;
    justify-content: space-between;
    background-color:rgb(202, 201, 201);
    align-items: center;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
   
}
.contenedor img{
    height: 100%;
    padding: 5px;
}
.navbar{
    display: flex;
    
}
.navbar i{
    font-size: 36px;
    display: none;
}
#toggle-menu{
    display: none;
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 5px;
    
   
}  
.navbar ul li .link{
    color: black;
    font-size: 12px;
    font-weight: bold;
    margin: 1cm;

}
.navbar ul li .link:hover{
    color: rgba(0, 102, 255, 0.644);
   
}/*main (inicio)*/
main{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: black;
width: 100%;

}
.contenedor-hero{
    color: rgb(202, 201, 201);
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 30px 0px;
}
.contenedor-hero .box1{
    margin: 1cm;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    height: 460px;
}
.contenedor-hero .box1 h1{
    font-size: 80px;
    }
    .contenedor-hero .box1 h3{
        font-size: 60px;
    }
    .contenedor-hero .box1 p{
        font-weight: bold;
        padding: 5%;
    }
    .contenedor-hero .box1 span{
        display: flex;
        justify-content: flex-end;
        font-weight: bold;
    }
    .contenedor-hero .box1 h2{
        display: flex;
        justify-content: flex-end;
        font-size: 50px;
    }
    .contenedor-hero .box1 img{
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: flex-start;
        margin-top: -15%;
    }
    .contenedor-hero .box1 img a:hover{
        cursor: pointer;
        
    }
    .contenedor-hero .box2{
    background-image: url(./img/imageslink.jfif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 50%;
    height: 460px;
    margin: 1cm;
    display: flex;
    flex-flow: column;
    justify-content: center;
    }
    .contenedor-hero .box2 .primerbtn{
     display: flex;   
     flex-flow: column;
     width: 100px;
     height: 70px;
     align-items: center;
     justify-content: center;
     color: rgb(202, 201, 201);
     margin: 10%;
     background-color: rgba(0, 102, 255, 0.644);
     border: none;
     border-radius: 10%;
     font-weight: bold;
     text-align: center;
    }
    .contenedor-hero .box2 button:hover{
        cursor: pointer;
        background-color: brown;
    }
    /*ABOUT*/
.nosotros{
    display: flex;
    justify-content: center;
    color: rgb(202, 201, 201);
    align-items: center;
    text-align: center;
    flex-flow: column;
    width: 80%;
    max-width: 950px;
    position: relative;
    padding: 30px;
}
.nosotros p{
    padding: 2%;

}
/*seccion cards*/
#cards{
    color: rgb(202, 201, 201);
    text-align: center;
    max-width: 80%;
    background-image: url(./img/fuego.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 800px 600px;
    padding: 80px 0;
    margin: 10px;
}
#cards .container-info{
    display: flex;
    align-items: center;
    justify-content: center;   
    text-align: center;
    gap: 10px;
   
}

#cards .container-info .info{
    gap: 10px;
    margin: 80px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    width: 100%;
    
    
}
/*footer*/
footer{
    background-color:rgb(202, 201, 201) ;
    width: 100%;
    height: 230px;
}
.footer{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
}
.footer img{
    height: 30px;
    width: 30px;
   

}
.footer .logo{
    width: 60px;
    height: 56px;
}
.footer ul{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: 20px;
    list-style: none;
}
.footer span{
    text-align: center;
    font-size: 10px;
}


